#container {

}

.box {
  position: absolute;
  height: 96px;
  width: 96px;
  border: 2px solid;
}

.red {
  width: 96px;
  height: 96px;
  background: #FF0000;
  border-radius: 50%;
}

.blue {
  width: 96px;
  height: 96px;
  background: #0000ff;
  border-radius: 50%;
}
